In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({ 'card': ['1971 Nolan Ryan', '1928 Ogden Don Bradman', '1909 T206 Ty Cobb', '1887 Lone Jack Ben Franklin', '2005 Topps Justin Verlander'],
                   'properties': [['Baseball', 'Vintage', 'Pitcher'], ['Cricket', 'Pre War'], ['Baseball', 'Pre War', 'Batter'], ['Non Sports', 'Pre War'], ['Baseball', 'Modern', 'Pitcher']] })

In [9]:
df.explode('properties')

                          card  properties
0              1971 Nolan Ryan    Baseball
0              1971 Nolan Ryan     Vintage
0              1971 Nolan Ryan     Pitcher
1       1928 Ogden Don Bradman     Cricket
1       1928 Ogden Don Bradman     Pre War
2            1909 T206 Ty Cobb    Baseball
2            1909 T206 Ty Cobb     Pre War
2            1909 T206 Ty Cobb      Batter
3  1887 Lone Jack Ben Franklin  Non Sports
3  1887 Lone Jack Ben Franklin     Pre War
4  2005 Topps Justin Verlander    Baseball
4  2005 Topps Justin Verlander      Modern
4  2005 Topps Justin Verlander     Pitcher